@page
@model EndPoint.Pages.exchangeModel
@{
}
@section Styles
{
    <link rel="stylesheet" href="~/Theme/css/tailwind-new.css">
}
<section id="roadmap" class="af a2E aw[120px] is-rtl">
    <div class="p-2  dark:aT">
        <div class="">
            <div class="hidden lg:grid grid-cols-3 px-4">
                <img class=" rounded-md mr-12" style="width:60px;height:60px;" src="https://tokenbaz.com/images/exchange/iranicard.png" alt="">
                <h1 class="font-bold " style="font-size:20px;">بررسی قیمت و ویژگی صرافی ارز دیجیتال او ام پی فینکس</h1>
                <div class="mr-16">
                    <button class="rounded-lg border-4 border-cyan-600 px-6 py-1">ورود / ثبت نام</button>
                </div>
            </div>
            <div class="flex px-4 lg:hidden">
                <h1 class="font-bold text-xs">بررسی قیمت و ویژگی صرافی ارز دیجیتال او ام پی فینکس</h1>
            </div>
            <br>
            <div class="flex lg:hidden">
                <img class="w-12 h-12 rounded-md mr-12" src="https://tokenbaz.com/images/exchange/iranicard.png" alt="">
                <div class="mr-16">
                    <button class="rounded-lg border-4 border-cyan-600 px-2 py-1">ورود / ثبت نام</button>
                </div>
            </div>
            <br>
            <div class="container mx-auto xl:max-w-screen-2xl grid grid-cols-1 lg:grid-cols-4 gap-4 md:gap-8 lg:px-16 ">
                <div class="flex ">
                    <h2 class="font-bold "> نوع صرافی   :</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold "> حداکثر زمان احراز هویت :</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold "> تعداد کارمندان :</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold "> عمر صرافی :</h2>
                    <p class="mr-2 ">بازار </p>
                </div>

                <div class="flex ">
                    <h2 class="font-bold text-xs"> کارمزد بازار تومانی  :</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold "> بازار تتری:</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold ">
                        حداقل خرید:
                    </h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold "> حداقل فروش :</h2>
                    <p class="mr-2 ">بازار </p>
                </div>

                <div class="flex ">
                    <h2 class="font-bold "> کیف پول اختصاصی  :</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold "> قابلیت تبدیل موجودی های کوچک:</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold "> سیستم درآمد زایی:</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold "> ورود دو مرحله ای :</h2>
                    <p class="mr-2 ">بازار </p>
                </div>

                <div class="flex ">
                    <h2 class="font-bold "> اپلیکیشن موبایل  :</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold "> راه های ارتباطی:</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold "> پایه پولی:</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
                <div class="flex ">
                    <h2 class="font-bold "> پشتیبانی از شبکه ها :</h2>
                    <p class="mr-2 ">بازار </p>
                </div>
            </div>
        </div>
        <br>
        <div class="hidden lg:flex">
            <h2 class="font-bold mr-2 ">توضیحات صرافی :</h2>
            <p class="mr-2 ">ایرانیکارت با سابقه ای ده ساله در عرصه خدمات مالی، مفتخر است که در زمینه ارزهای دیجیتال، امکان خرید و فروش امن و سریعی را برای کاربران خود فراهم سازد. با ایرانیکارت با ارامش به مبادله رمزارز بپردازید.</p>
        </div>
        <div class="w-3/4 mr-2 lg:hidden">
            <h2 class="font-bold  text-xs">توضیحات صرافی :</h2>
            <p class=" text-xs">ایرانیکارت با سابقه ای ده ساله در عرصه خدمات مالی، مفتخر است که در زمینه ارزهای دیجیتال، امکان خرید و فروش امن و سریعی را برای کاربران خود فراهم سازد. با ایرانیکارت با ارامش به مبادله رمزارز بپردازید.</p>
        </div>
        <br>
        <div class="flex">
            <h2 class="font-bold mr-2 text-xs">تسویه : </h2>
            <p class="mr-2 text-xs">سیکل بانکی شبا</p>
        </div>
        <br>
        <div class=" hidden lg:flex">
            <span class="w-6 h-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                </svg>
            </span>
            <p>اصفهان، خیابان بزرگمهر، خیابان 22 بهمن، ابتدای کوچه شماره 8، ساختمان پالیز، پلاک 4</p>
        </div>
        <div class="flex w-3/4 lg:hidden">
            <span class="w-6 h-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                </svg>
            </span>
            <p class="text-xs">اصفهان، خیابان بزرگمهر، خیابان 22 بهمن، ابتدای کوچه شماره 8، ساختمان پالیز، پلاک 4</p>
        </div>
        <br>
        <div class="hidden lg:flex">
            <div class="w-1/2 flex">
                <span class="w-6 h-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                    </svg>
                </span>
                <p class="mr-2">0023434342r</p>
            </div>
            <div class="w-1/2 flex">
                <span class="w-6 h-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                    </svg>
                </span>
                <p class="mr-2">amiorali@gmail.com</p>
            </div>
        </div>
        <div class="flex lg:hidden">
            <div class="w-1/2 flex">
                <span class="w-6 h-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                    </svg>
                </span>
                <p class="mr-2 text-xs">0023434342r</p>
            </div>
            <div class="w-1/2 flex">
                <span class="w-4 h-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                    </svg>
                </span>
                <p class="mr-2 text-xs">amiorali@gmail.com</p>
            </div>
        </div>
        <br />
        <div class="hidden lg:block">
            <h1 class="font-bold mb-4">نقد و بررسی صرافی :</h1>
            <p>
                فروشگاه ایرانیکارت یا iranicard از 1 1 ماه و 3 روز پیش فعالیت خود را بصورت رسمی آغاز کرده است. صرافی رمز ارز ایرانیکارت از 899 ارزدیجیتال در مارکت تومانی به گفته صرافی و همچنین بررسی های صورت گرفته توسط تیم فنی توکن باز پروسه احراز هویت ایرانیکارت حداکثر 1 روز زمان می برد. لازم به ذکر است حداقل مقدار قابل خرید در این صرافی 400 هزار تومان و حداقل مقدار قابل فروش 400 هزار تومان می باشد.
                از نکات مثبت این صرافی پشتیبانی از:
                - سیستم درآمد زایی
                - ورود دو مرحله ای
                - راه های ارتباطی : تلفن , تیکت , حضوری
                - اپلیکیشن :
                - پایه پولی : تومان
                - شبکه های : ETH , BNB , BSC , TRX , BTC
                می باشد.
            </p>
        </div>
        <div class="w-3/4 mr-2 lg:hidden">
            <h1 class="font-bold mb-4">نقد و بررسی صرافی :</h1>
            <p class="text-xs">
                فروشگاه ایرانیکارت یا iranicard از 1 1 ماه و 3 روز پیش فعالیت خود را بصورت رسمی آغاز کرده است. صرافی رمز ارز ایرانیکارت از 899 ارزدیجیتال در مارکت تومانی به گفته صرافی و همچنین بررسی های صورت گرفته توسط تیم فنی توکن باز پروسه احراز هویت ایرانیکارت حداکثر 1 روز زمان می برد. لازم به ذکر است حداقل مقدار قابل خرید در این صرافی 400 هزار تومان و حداقل مقدار قابل فروش 400 هزار تومان می باشد.
                از نکات مثبت این صرافی پشتیبانی از:
                - سیستم درآمد زایی
                - ورود دو مرحله ای
                - راه های ارتباطی : تلفن , تیکت , حضوری
                - اپلیکیشن :
                - پایه پولی : تومان
                - شبکه های : ETH , BNB , BSC , TRX , BTC
                می باشد.
            </p>
        </div>
        <br>
    </div>
</section>