@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="home" class="af a2E a3p a3q is-rtl">
    <div class="ae">
        <div class="ag aa a1L">
            <div class="ab ak">
                <div class="a3r aH[720px] a2G">
                    <h1 class="a1N a2o a1P a2p a1k dark:aT md:a2Q[45px]">

                        مناسب برای کریپتو
                    </h1>
                    <p class="a3r a1N aH[620px] aO a1R aQ dark:aT">

                        ارز دیجیتال، بلاک چین،
                        ساخته شده است. همراه با تمام ابزارهای لازم شامل تمام کامپوننت ها و صفحات ضروری UI برای
                        راه انـدازی کـامـل وب سـایت صفحه فـرود بـرای معرفی محصول یـا هـر محصولی کـه مرتبط با
                        کریپتو، بلاکچین و  است.




                    </p>
                    <div class="a3s a1W aa a1L ac a1t sm:a3t">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aq a8 a1a a2Z a2w ab a3D" style="
          background-image: linear-gradient(
            180deg,
            #3e7dff 0%,
            rgba(62, 125, 255, 0) 100%
          );
        "></div>
    <img src="~/Theme/images/shapes/hero-shape-1.svg" alt="" class="aq a1a a8 a2Z" style="display: block; transform: scale(-1,1)">
    <img src="~/Theme/images/shapes/hero-shape-2.svg" alt="" class="aq a19 a8 a2Z" style="display: block; transform: scale(-1,1)">
</section>




@await Component.InvokeAsync("LatestCoins");

@await Component.InvokeAsync("LatestArticles");

<section id="faq" x-data="
        {
          openFaq1: false,
          openFaq2: false,
          openFaq3: false,
          openFaq4: false,
          openFaq5: false,
        }" class="af a2E a1v a4h dark:a1w[#14102C] is-rtl">
    <div class="ae">
        <div class="wow fadeInUp a3r a3K aH[630px] a2G md:a30" data-wow-delay="0s">
            <span class="a2d aO a1P a3L aR sm:a1O">
                سوالات متداول
            </span>
            <h2 class="a2d a2o a1P a2p a1k dark:aT md:a2Q[45px]">
                سوالات متداول پرتکرار
            </h2>
            <p class="a3r aH[590px] aO a1R aQ dark:aS">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                و با استفاده از طراحان گرافیک چاپگرها و متون بلکه روزنامه است.
            </p>
        </div>
        <div class="ag aa a1L a1t">
            <div class="ab ak lg:a2N/12 xl:a1z/12">
                <div class="single-faq wow fadeInUp a1W au a1 a2h a2W dark:a3 md:a3_ md:a2R" data-wow-delay="0s">
                    <button @@click="openFaq1 = !openFaq1" class="faq-btn aa ab ac ah a4l">
                        <h3 class="a4m a1F a1P a2u dark:aT sm:aO md:a1O">
                            چگونه می توانم در فروش توکن ICO شرکت کنم؟
                        </h3>
                        <span class="icon aV a4n ab aH[20px] ac a1t a1i a4o aT dark:a1k dark:a2m aO aP" :class="openFaq1 &amp;&amp; 'a4p' ">
                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_50_132)">
                                    <path d="M8.82033 1.91065L4.99951 5.73146L1.17869 1.91064L-0.000488487 3.08978L4.99951 8.08978L9.99951 3.08979L8.82033 1.91065Z" fill="currentColor"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_50_132">
                                        <rect width="10" height="10" fill="white" transform="translate(-0.000488281 0.000488281)"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </button>
                    <div x-show="openFaq1" class="faq-content">
                        <p class="a4q a4r a1F aQ dark:aS">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته است.
                        </p>
                    </div>
                </div>
                <div class="single-faq wow fadeInUp a1W au a1 a2h a2W dark:a3 md:a3_ md:a2R" data-wow-delay="0s">
                    <button @@click="openFaq2 = !openFaq2" class="faq-btn aa ab ac ah a4l">
                        <h3 class="a4m a1F a1P a2u dark:aT sm:aO md:a1O">
                            ICO Crypto چیست؟
                        </h3>
                        <span class="icon aV a4n ab aH[20px] ac a1t a1i a4o aT dark:a1k dark:a2m aO aP" :class="openFaq2 &amp;&amp; 'a4p' ">
                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_50_132)">
                                    <path d="M8.82033 1.91065L4.99951 5.73146L1.17869 1.91064L-0.000488487 3.08978L4.99951 8.08978L9.99951 3.08979L8.82033 1.91065Z" fill="currentColor"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_50_132">
                                        <rect width="10" height="10" fill="white" transform="translate(-0.000488281 0.000488281)"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </button>
                    <div x-show="openFaq2" class="faq-content">
                        <p class="a4q a4r a1F aQ dark:aS">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته است.
                        </p>
                    </div>
                </div>
                <div class="single-faq wow fadeInUp a1W au a1 a2h a2W dark:a3 md:a3_ md:a2R" data-wow-delay="0s">
                    <button @@click="openFaq3 = !openFaq3" class="faq-btn aa ab ac ah a4l">
                        <h3 class="a4m a1F a1P a2u dark:aT sm:aO md:a1O">
                            چگونه از توکن ICO سود ببرم؟
                        </h3>
                        <span class="icon aV a4n ab aH[20px] ac a1t a1i a4o aT dark:a1k dark:a2m aO aP" :class="openFaq3 &amp;&amp; 'a4p' ">
                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_50_132)">
                                    <path d="M8.82033 1.91065L4.99951 5.73146L1.17869 1.91064L-0.000488487 3.08978L4.99951 8.08978L9.99951 3.08979L8.82033 1.91065Z" fill="currentColor"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_50_132">
                                        <rect width="10" height="10" fill="white" transform="translate(-0.000488281 0.000488281)"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </button>
                    <div x-show="openFaq3" class="faq-content">
                        <p class="a4q a4r a1F aQ dark:aS">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته است.
                        </p>
                    </div>
                </div>
                <div class="single-faq wow fadeInUp a1W au a1 a2h a2W dark:a3 md:a3_ md:a2R" data-wow-delay="0s">
                    <button @@click="openFaq4 = !openFaq4" class="faq-btn aa ab ac ah a4l">
                        <h3 class="a4m a1F a1P a2u dark:aT sm:aO md:a1O">
                            چگونه می توانم بیت کوین بخرم؟
                        </h3>
                        <span class="icon aV a4n ab aH[20px] ac a1t a1i a4o aT dark:a1k dark:a2m aO aP" :class="openFaq4 &amp;&amp; 'a4p' ">
                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_50_132)">
                                    <path d="M8.82033 1.91065L4.99951 5.73146L1.17869 1.91064L-0.000488487 3.08978L4.99951 8.08978L9.99951 3.08979L8.82033 1.91065Z" fill="currentColor"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_50_132">
                                        <rect width="10" height="10" fill="white" transform="translate(-0.000488281 0.000488281)"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </button>
                    <div x-show="openFaq4" class="faq-content">
                        <p class="a4q a4r a1F aQ dark:aS">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته است.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aq a1a a4s a2Z">
        <img src="~/Theme/images/shapes/faq-shape-1.svg" alt="shape" style="display: block; transform: scale(-1,1)">
    </div>
    <div class="aq a19 a4t a2Z">
        <img src="~/Theme/images/shapes/faq-shape-2.svg" alt="shape" style="display: block; transform: scale(-1,1)">
    </div>
</section>
